.productContainer {
    background-color: #D34735;
    width: 550px;
    padding: 10px;
    display: flex;
    border-radius: 10px;
    margin: 80px 70px;
}

.productImage {
    width: 200px;
    height: 200px;
    padding: 10px;
    background-position: 50%;
    background-image: cover;
}

.productNP {
    font-size: 23px;
}